@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');
:root{
    --color-dark:#1b1b1b;
    --color-light:#ffffff;
    --color-gold:#c7b8a5;
    --color-blue:#17A2B8;
    --color-blueee:#138496;
}
body{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    background-image: url(https://img.freepik.com/foto-gratis/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28313.jpg?size=626&ext=jpg&ga=GA1.2.1558626103.1637625600);
   
    color: var(--color-light) ;
    letter-spacing: .05rem;
}
.mapa{
    padding-top: 45px;
}

.letra{
    color: black;
}
.bajar{
    padding-top:50px !important;
    padding-left: 4;
    padding-right: 4;
}
.formulario{
    background-color: transparent !important;
}
.boton{
    color: var(--color-light);
    background-color: transparent;
}
.lista {
    justify-content: space-around;
}
.boton:hover{
    color: var(--color-blue)!important; 
    text-decoration: none !important;;
}
.titulo{
    color: var(--color-blue)!important;
}
.boton:focus{
 
     color:var(--color-light);
     outline:none;
}
.lead-xl{
    font-size: 1.75rem;
}
.nav-link{
    margin-left: 2rem;
}
.sideways {
    writing-mode: vertical-lr;
    display: block;
    margin: 3.5rem 0;
    transform: rotate(-180deg);
}

.btn-primary {
    background-color: transparent;
    border: 1px solid var(--color-light);
    border-radius: 0;
    color: var(--color-light);
    padding: .7rem 2.5rem;
    font-size: 1.25rem;
}

.btn-primary:hover {
    color: var(--color-dark);
    border: 1px solid var(--color-light);
}

.navbar {
    min-height: 5rem;
}

.border-right {
    border-right: 1px solid rgba(256, 256, 256, .1) !important;
}

@media (max-width: 1350.98px) {
    .sideways {
        margin: 2rem 0;
    }
    .lead-xl {
        font-size: 1.25rem;
    }
}